<div id="portfolio" class="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">

            <div class="col-sm-2 border-f top-f border-f d-none d-md-block" style="background-image: linear-gradient(to top, rgb(255 255 255 / 0%) 10%, rgb(255 255 255 / 65%) 90%), url(/assets/img/portfolio/thumbnails/engineer.jpg);">
                @*<a class="portfolio-box cursor-default" href="~/assets/img/portfolio/fullsize/3.jpg" title="Project Name">
            <img class="img-back" src="~/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
            <div class="portfolio-box-caption">

            </div>*@
                </a>
            </div>
            @******************************************* Menu*@
            <div class="col-6 col-md-2 border-f top-f border-f" style="        background-image: linear-gradient(to top, rgb(255 255 255 / 0%) 10%, rgb(255 255 255 / 65%) 90%), url(/assets/img/portfolio/thumbnails/3.jpg);">
                <a class="portfolio-box d-none d-lg-block d-xl-block" href="/Home#about" title="O nas">
                    <img class="img-back" src="~/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                    <div class="project-text border-portfolio">
                        O nas
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-2 border-f top-f border-f" style="background-image: linear-gradient(to top, rgb(255 255 255 / 0%) 10%, rgb(255 255 255 / 65%) 90%), url(/assets/img/portfolio/thumbnails/5.jpg);">
                <a class="portfolio-box  d-none d-lg-block d-xl-block" href="/Home#services" title="Oferta">
                    <img class="img-back" src="~/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                    <div class="project-text border-portfolio">
                        Oferta
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-2 border-f top-f border-f" style="  background-image: linear-gradient(to top, rgb(255 255 255 / 0%) 10%, rgb(255 255 255 / 65%) 90%), url(/assets/img/portfolio/thumbnails/6.jpg);">
                <a class="portfolio-box  d-none d-lg-block d-xl-block" href="/Home#project" title="Projekty - Szkolenia">
                    <img class="img-back" src="~/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                    <div class="project-text box-f">
                        Projekty
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-2 border-f top-f border-f" style=" background-image: linear-gradient(to top, rgb(255 255 255 / 0%) 10%, rgb(255 255 255 / 65%) 90%), url(/assets/img/portfolio/thumbnails/4.jpg);">
                <a class="portfolio-box  d-none d-lg-block d-xl-block" href="/Home#contact" title="Kontakt">
                    <img class="img-back" src="~/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                    <div class="portfolio-box-caption">

                    </div>
                    <div class="project-text">
                        Kontakt
                    </div>
                </a>
            </div>
            @******************************************* Menu Koniec*@
            <div class="col-sm-2 border-f top-f d-none d-md-block" style="background-image: linear-gradient(to top, rgb(255 255 255 / 0%) 10%, rgb(255 255 255 / 65%) 90%), url(/assets/img/portfolio/thumbnails/2.jpg);">
                @*<a class="portfolio-box cursor-default" href="~/assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                <img class="img-back" src="~/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                <div class="portfolio-box-caption">

                </div>
            </a>*@
            </div>

        </div>
    </div>
</div>